/**
*   Author Variables
*/
.animation {
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear; }

/**
*   Author Custom Mixins
*/
/**
*   Global partial styles:
*   Place all custom author global styles here
*/
/**
*   IE8 specific styles
*/
/**
*   Reset partial styles:
*   Place all custom author reset styles here
*/
ul {
  -moz-padding-start: 0;
  -webkit-padding-start: 0;
  -khtml-padding-start: 0;
  -o-padding-start: 0;
  -webkit-margin-before: 0;
  -moz-margin-before: 0;
  -khtml-margin-before: 0;
  -o-margin-before: 0;
  -webkit-margin-after: 0;
  -moz-margin-after: 0;
  -khtml-margin-after: 0;
  -o-margin-after: 0; }

#footer {
  background: #373a40;
  padding: 40px 0;
  color: #CCC;
  font-weight: bold;
  font-family: 'futura_std';
  font-size: 16px; }
  #footer a {
    color: #CCC; }
  #footer .sep {
    margin: 0 15px; }

.sitemap {
  margin-bottom: 40px; }

.sitemap ol, .sitemap ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.sitemap ol:after, .sitemap ul:after {
  content: '';
  display: block;
  clear: both; }

.sitemap h4 {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #777;
  font-weight: normal;
  font-size: 0.9em;
  color: #FFF; }

#footer .sitemap h4 a {
  color: #FFF; }

.sitemap ol li {
  float: left;
  width: 21%;
  margin-right: 3%; }

.sitemap ol li ul li {
  float: none;
  width: 90%;
  font-size: 0.8em;
  margin-bottom: 10px; }

.share {
  position: relative;
  text-align: center;
  margin-bottom: 40px; }
  .share ul {
    list-style: none;
    margin: 20px 0;
    padding: 0; }
    .share ul li {
      display: inline-block;
      width: 27px; }
      .share ul li img {
        width: 100%; }
  @media screen and (min-width: 641px) and (max-width: 979px) {
    .share {
      top: auto; }
      .share ul {
        text-align: center; }
        .share ul li {
          float: none;
          margin-right: 5px;
          display: inline-block; } }

.sponsor {
  margin-bottom: 40px; }
  .sponsor ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .sponsor ul:after {
      content: '';
      display: block;
      clear: both; }
    .sponsor ul li {
      margin-right: 20px;
      display: inline-block; }
      .sponsor ul li img {
        max-width: 128px; }
  @media screen and (min-width: 641px) and (max-width: 979px) {
    .sponsor {
      margin-top: 20px; }
      .sponsor ul {
        text-align: center; }
        .sponsor ul li {
          float: none;
          margin-right: 5px;
          display: inline-block; } }

.contact-detail {
  margin-top: 20px;
  text-align: center; }
  .contact-detail p {
    font-size: 0.8em;
    margin-bottom: 10px; }
    @media screen and (min-width: 641px) and (max-width: 979px) {
      .contact-detail p {
        text-align: center; } }
