* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	-webkit-text-size-adjust:none;
}

:focus {
  -moz-outline-style: none;
}

:-moz-any-link:focus {
  outline: none;
}

img a {outline : none;}

img {
	border: none;
}

table {
	border: none;
	empty-cells: show;
}

th,td {
	border: none;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

.clear {
	clear:both;
}

.buttons {
	cursor: pointer;
}

body {
	width:100%;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif,Microsoft JhengHei, Microsoft YaHei, Apple LiGothic Medium;
	font-size:14px;
}

html, body {
	height: 100%;
	min-width:320px;
}

a {
	outline:0 none;
	border:none;
	text-decoration:none;
}

* :focus { outline: 0; }

a:hover {
	border:none;
	text-decoration:none;
}
.clear {
	width:100%;
	clear:both;
}

p{line-height:1.3em;}
a{color:#0c4da2;}

.btn{
	background:#023452;
	border-radius:5px;
	color:#FFF;
	padding:5px 45px;
	display:inline-block;
	cursor:pointer;
	text-transform:uppercase;
	font-size:12px;
	letter-spacing:1px;
	font-weight:bold;
	font-family:'futura_std';
	position:relative;
	*zoom:1;*display:inline;

	span{display:inline-block; vertical-align:middle;}
	span.arrow{width:6px;display:inline-block;vertical-align:middle;margin-left:10px;}
	span.arrow img{width:6px;}
}
.btn-white{
	background:#FFFFFF;
	border-radius:5px;
	color:#023452;
	padding:5px 45px;
	display:inline-block;
	cursor:pointer;
	text-transform:uppercase;
	font-size:12px;
	letter-spacing:1px;
	font-weight:bold;
	font-family:'futura_std';
	position:relative;
	*zoom:1;*display:inline;
	span{display:inline-block; vertical-align:middle;}
	span.arrow{width:6px; display:inline-block;vertical-align:middle;margin-left:10px;}
	span.arrow img{width:6px;}
}

h2{font-size:25px; text-transform:uppercase;}

h1,h2,h3,h4,h5{font-weight:bold;font-family:'futura_std';}
select {font-family:'futura_std';}

.ie8_img{display:none;}
.mob{display:none;}
.tablet{display:none;}
.desktop{display:block;}
.dim {opacity:0.3; cursor:default;filter:alpha(opacity=30);}


.slider{
	display:inline-block;
	.slider-view{overflow:hidden;}
	.slider-view .slider-container{ white-space:nowrap; position:relative;list-style:none;}
	.slider-view .slider-container li{display:inline-block;}
	.slider-view .slider-container li img{width:100%;}
	.slider-list{list-style:none;margin-top:20px;}
	.slider-list li{width:7px;height:7px;margin-right:10px; border:1px #474747 solid; border-radius:20px; background:#474747; display:inline-block;*zoom:1;*display:inline;}
	.slider-list li.selected{background:#FFF;}
	.slider-list li a{width:100%;height:100%;background:transparent;display:block;}
}

#wrapper .event-type-JMA{width:55px;height:55px;background:#35c4cb; position:relative;font-family: 'Open Sans';}
#wrapper .event-type-JMA:after{content:'JMA';font-weight:bold;color:#FFF;position:absolute;top:28%; width:100%; text-align:center;}
#wrapper .event-type-GLO{width:55px;height:55px;background:#023452;position:relative;font-family: 'Open Sans';}
#wrapper .event-type-GLO:after{content:'GLO';font-weight:bold;color:#FFF;position:absolute;top:28%; width:100%; text-align:center;}
#wrapper .event-type-IND{width:55px;height:55px;background:#023452;position:relative;font-family: 'Open Sans';}
#wrapper .event-type-IND:after{content:'IND';font-weight:bold;color:#FFF;position:absolute;top:28%; width:100%; text-align:center;}

.ios #wrapper .event-type-JMA{width:55px;height:55px;background:#35c4cb; position:relative;font-family: 'Open Sans';}
.ios #wrapper .event-type-JMA:after{content:'JMA';font-weight:bold;color:#FFF;position:absolute;top:35%; width:100%; text-align:center;}
.ios #wrapper .event-type-GLO{width:55px;height:55px;background:#023452;position:relative;font-family: 'Open Sans';}
.ios #wrapper .event-type-GLO:after{content:'GLO';font-weight:bold;color:#FFF;position:absolute;top:35%; width:100%; text-align:center;}
.ios #wrapper .event-type-IND{width:55px;height:55px;background:#023452;position:relative;font-family: 'Open Sans';}
.ios #wrapper .event-type-IND:after{content:'IND';font-weight:bold;color:#FFF;position:absolute;top:35%; width:100%; text-align:center;}


@media screen and (max-width: 980px) {
	.desktop{display:none;}
	.tablet{display:block;}
	.ie8_img{display:none;}
	.slider .slider-list{margin-left:5%;}
}
@media screen and (max-width: 640px) {
	.tablet{display:none;}
	.mob{display:block;}
	.ie8_img{display:none;}
	h2{font-size:20px;}
}