#header {
	font-weight:bold;
	font-family:'futura_std';
	font-size:16px;
}
#header .top {
	background-color: #f8f8f9;
	padding-top: 1px;
	padding-bottom: 1px;
	color:#565656;
	font-size: 12px;
	margin-bottom:5px;
}
#header .top:after{content:'';display:block;clear:both;}
#header .top a{
	color:#565656;
}
#header .ext-links{margin-top:6px; float:right;}
#header .tools{margin-top:4px;  float:right;}

#header .ext-links a{margin-right:15px;}

#header .vline{width:1px; height:22px; margin:0 20px;margin-top:4px; background:#CCC; float:right;}
#header .tools .vline{float:left;margin-top:0px;}

#header .tools .follow-us {float:left;}
#header .tools .follow-us a{ vertical-align:middle;}
#header .tools .follow-us .follow-item{width:25px;height:25px; display:inline-block;}
#header .tools .follow-us .follow-item img{width:100%;}

#header .tools .lang{float:left;margin-top:3px; position:relative;}
#header .tools .lang a{margin:0 2px;display:inline-block;padding-bottom:5px; border-bottom:2px transparent solid;}
#header .tools .lang a.selected{border-bottom:2px #CCC solid;}

#header .tools:after{content:'';display:block;clear:both;}

#header .member-container{margin-top:20px;}
#header .member-container .logo{float:left;}
#header .member-container .logo img{max-width:249px;}
#header .member-container .member{float:right;margin-top:5px;}
#header .member-container .member .btn{padding:5px 20px;}
#header .member-container:after{content:'';display:block;clear:both;}

#header .navbar-container{margin-top:5px;float:left;width:100%;}

#header .navbar-container #menu{list-style:none;margin:0;padding:0;float:left;}
#header .navbar-container #menu li{color:#000;font-size:16px;;float:left;padding:10px;padding-left:0;padding-right:23px; letter-spacing:0.05em;}
#header .navbar-container #menu li.selected{/*background:url(../../images/nav-bg.png);background:#023452;*/color:#0c4da2;}
#header .navbar-container #menu li a{color:#000;}
#header .navbar-container #menu li img{width:20px;display:none;margin:0 auto; position:relative; z-index:1000;margin-top:10px;margin-bottom:-24px;}
#header .navbar-container #menu li.selected a{color:#023452;}
#header .navbar-container #menu li.selected img{display:block;}
#header .navbar-container #menu li.selected img.tablet{display:none;}

#header .navbar-container #menu li.member-zone{font-family:"futura_bold" !important;font-weight:normal; margin-top:1px;}
#header .navbar-container #menu:after{content:'';display:block;clear:both;}

#header .menu-lv2-holder{width:100%;/*background:url(../../images/nav-bg.png);*/background:#023452;color:#FFF; position:absolute;z-index:999; height:0;}
#header .menu-lv2{width:100%;list-style:none;margin:20px 0;padding:0;display:none;padding-top:30px;padding-bottom:60px;}
#header .menu-lv2.open{display:block;}
#header .menu-lv2:after{content:'';display:block;clear:both;}
#header .menu-lv2 a{color:#FFF;}
#header .menu-lv2 a:hover{color:#35C4CB;cursor:pointer;}
#header .menu-lv2 li{display:inline-block;width:29%;margin-right:3%; vertical-align:top;}
#header .menu-lv2 li h4{padding-bottom:5px;border-bottom:1px solid rgba(255,255,255,0.3);margin-bottom:20px;font-size:17px; position:relative;}
#header .menu-lv2 li h4 .ie_8_line{display:none;}
.ie_8 #header .menu-lv2 li h4 .ie_8_line{display:block;height:1px; width:100%; position:absolute; bottom:0; left:0; background:#FFF;opacity:0.3; filter:alpha(opacity=30);}
#header .menu-lv2 li img{width:100%;margin-bottom:10px;}
#header .menu-lv2 li li{display:block;width:100%;margin-bottom:7px;font-size:14px;}
#header .menu-lv2 li li:hover{color:#35C4CB;cursor:pointer;}


#header .navbar-container .search{float:right;margin-left:10px;}
#header .navbar-container .search.open{width:115px; text-align:right;margin-left:0;}
.ie_8 #header .navbar-container .search.open{width:100px; text-align:right;margin-left:0;}
#header .navbar-container .search.open input[type=text]{width:80%;border:1px solid #000;}
#header .navbar-container .search .btn-search{margin-top:15px; cursor:pointer;}
#header .navbar-container .search .search-text{display:none;border:none;}
.ie_8 #header .navbar-container .search .search-text{display:none;border:1px solid #000;*zoom:1;*display:inline;}


@media screen and (max-width: 980px) {
	#header {padding-bottom:0px;}
	#header .holder{ position:relative;}
	
	#header .member-container{margin-top:-1px;padding-top:1px;margin-bottom:0px;}
	#header .member-container .logo{float:left;width:73%;padding-left:2%;padding-right:0%;margin-top: 15px;}
	#header .member-container .logo img{width:100%;min-width:234px;max-width:234px;}

	#header .member-container .btn-navbar{width:24%;float:right; text-align:right;}
	#header .member-container .btn-navbar img{width:100%;min-width:75px;max-width:75px;}
	
	#header .navbar-container{margin-top:0px;margin-right:0px;float:none; position:absolute; z-index:999; top:100%; width:100%;display:none;font-size:25px;background:#5163a6;padding-bottom:20px;}
	
	#header .navbar-container .search{float:none;background:#35c4cb;padding:0;padding-left:3%;margin-left:0;}
	#header .navbar-container .search .search-icon{margin-top:0px;width:10%; max-width:75px; min-width:75px; vertical-align:middle; display:inline-block;float:right;}
	#header .navbar-container .search .search-text{vertical-align:middle; display:inline-block;width:86%;margin-top:21px;*zoom:1;*display:inline;}
	
	#header .navbar-container .search:after{content:'';display:block;clear:both;}
	
	.ie_8 #header .navbar-container .search .search-text{vertical-align:middle; display:inline-block;width:70%;*zoom:1;*display:inline;}
	
	#header .navbar-container #menu{list-style:none;margin:0;padding:0;float:none;}
	#header .navbar-container #menu li{color:#FFF;float:none;margin-right:0px;background:#5163a6; padding:3% 3%;font-size:25px; border-bottom:#7b8eb9 1px solid; position:relative;}
	#header .navbar-container #menu li a{color:#FFF;}
	#header .navbar-container #menu li.selected img{display:none;}
	#header .navbar-container #menu li.selected img.tablet{display:none;}
	#header .navbar-container #menu li img.tablet{display:block; width:12px;position:absolute; z-index:1000;margin:0; right:4%; top:37%;}
	#header .navbar-container .lang{background:#5163a6; padding:3%;color:#FFF;}
	#header .navbar-container .lang a{color:#FFF;margin-right:2%;}
	
	#header .navbar-container .ext-links{background:#5163a6;padding:3%;float:none;margin-top:0;padding-bottom:0;}
	#header .navbar-container .ext-links a{margin-right:0;display:block;margin-bottom:10px;color:#FFF;}
	
	.ie_8 #header .member-container .logo img{width:300px;min-width:0;max-width:none;}
	.ie_8 #header .member-container .btn-navbar img{width:auto;min-width:0;max-width:75px;}
	
	#header .menu-lv2-holder{top: 150px;}
	#header .menu-lv2 li{display:block;width:90%;margin:0 auto;margin-bottom:40px;}
	#header .menu-lv2 li:after{content:'';display:block;clear:both;}
	#header .menu-lv2 li h4{font-size:20px;width:100%;}
	#header .menu-lv2 li li{display:block;width:100%;margin-bottom:10px;font-size:16px;}
	#header .menu-lv2#exhibitions {padding:3%;}
	#header .menu-lv2#exhibitions li {width:46%;float:left;}
	#header .menu-lv2#exhibitions li:last-child{margin-left:2%;}
	#header .menu-lv2#exhibitions li img{width:100%;margin-bottom:10px;vertical-align:bottom;}
	
	
}
@media screen and (max-width: 640px) {
	.ie_8 #header .member-container .logo img{width:234px;}
	#header .navbar-container{font-size:20px;}
	#header .navbar-container #menu li{font-size:20px;}
	#header .navbar-container #menu li img.tablet{width:9px;pight:4%; top:37%;}
}
@media screen and (max-width: 480px) {
	#header .member-container .logo{margin-top: 13px;}
	#header .member-container .logo img{min-width:190px;max-width:190px;}
	#header .member-container .btn-navbar img{width:100%;min-width:60px;max-width:60px;}
	
	#header .navbar-container #menu li img.tablet{width:6px;position:absolute; z-index:1000;margin:0; right:4%; top:43%;}
}